@page "/customers"
@using MudBlazor
@inject IRepository repository

<h3>Clientes</h3>
@if (Customers is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card border border-primary">
        <div class="card-body">
             <MudGrid>
                    <MudItem xs="12" sm="12" md="12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Documento</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var customer in Customers)
                                {
                                    <tr>
                                        <td>
                                            @customer.Name
                                        </td>
                                        <td>
                                            @customer.LastName
                                        </td>
                                        <td>
                                            @customer.Document
                                        </td>
                                        <td>
                                            @customer.Email
                                        </td>
                                        <td>
                                            @customer.Password
                                        </td>
                                        <td>
                                            <a class="btn btn-warning">Editar</a>
                                            <button class="btn btn-danger">Borrar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    </MudItem>
            </MudGrid>
        </div>
</div>
   
}

@code {
    public List<Customer>? Customers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Customer>>("/api/customers");
        Customers = responseHttp.Response;
    }
}
