@page "/customers"
@using MudBlazor
@inject IRepository repository

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb float-end pt-0" style="background-color:#F4F6F9">
            <li class="breadcrumb-item"><a href="#">Menú</a></li>
            <li class="breadcrumb-item"><a href="customers">Lista Clientes</a></li>
            @*<li class="breadcrumb-item active">Afiliados</li>*@
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h4 class="float-left">Lista Clientes</h4>
    </div>
    <div class="col-6">
        <a class="btn btn-primary mb-3 float-end" href="/customers/create">Crear Cliente</a>
    </div>
</div>






<GenericList MyList="Customers">
    <Body>
        <div class="card border border-primary">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Documento</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Customers!)
                        {
                            <tr>
                                <td>
                                    @customer.Name
                                </td>
                                <td>
                                    @customer.LastName
                                </td>
                                <td>
                                    @customer.Document
                                </td>
                                <td>
                                    @customer.Email
                                </td>
                                <td>
                                    @customer.Password
                                </td>
                                <td>
                                    <a class="btn btn-warning">Editar</a>
                                    <button class="btn btn-danger">Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </Body>
</GenericList>

@code {
    public List<Customer>? Customers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Customer>>("/api/customers");
        Customers = responseHttp.Response;
    }
}
